In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('samples.csv')

In [9]:
myCols = ["id_product",	"Region",	"Country",	"Zone",	"Year",	"Quarter_cumuled",	"Quarter",	"Month_1",	"Month_2",	"Month_3",	'Month_4']

In [11]:
df = df[myCols]

In [13]:
X = df.sort_values(by='Quarter_cumuled')
X

,id_product,Region,Country,Zone,Year,Quarter_cumuled,Quarter,Month_1,Month_2,Month_3,Month_4
17,104657,2,28,10,2020,1,3,0,0,0,0
5,149445,2,24,6,2020,1,3,0,0,0,0
7,168061,2,17,0,2020,1,3,0,0,0,0
1,224631,0,4,2,2021,2,1,0,1,0,0
2,104047,2,28,10,2021,2,1,0,2,0,0
4,159924,2,24,6,2021,2,1,0,0,0,0
18,191320,2,1,0,2021,2,1,0,0,0,0
12,139181,2,8,3,2021,2,1,0,0,0,0
11,28171,1,0,9,2021,2,1,0,0,0,0
0,156160,2,8,3,2021,3,2,0,0,0,0
16,19781,1,0,9,2021,3,2,1,0,0,0
8,64939,3,29,11,2021,4,3,0,0,0,0
9,140385,2,8,3,2022,5,1,0,0,0,0
6,25324,1,0,9,2022,5,1,0,0,2,0
15,112779,2,5,8,2022,6,2,1,9,3,0
10,68682,3,29,11,2022,7,3,0,0,0,0
19,57217,3,29,11,2022,7,3,0,0,0,0
13,53322,3,29,11,2023,8,1,0,0,0,0
14,115157,2,5,8,2023,8,1,0,140,0,0
3,11823,1,0,9,2023,8,1,0,0,0,0

In [16]:
y = df.sort_values(by='Quarter_cumuled')['Month_2']

In [1]:
y

NameError: name 'y' is not defined